.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  padding: 5px;
  font-size: 16px;
}

.button {
  cursor: pointer;
  background-color: aqua;
}

.error {
  color: red;
  font-weight: 500;
}
